################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WebTasks/appsettings.json
/WebTasks.sln
/.vs
/WebTasks/.env
